@using ManufacturerManagerUI.Models

<DataAnnotationsValidator />
<ValidationSummary />

<div class="form-group">
    <label for="Name">Name</label>
    <InputText id="Name" class="form-control" @bind-Value="WidgetDTO.Name" />
</div>
<div class="form-group">
    <label for="ManufacturerId">Manufacturer</label>
    <InputSelect id="ManufacturerId" class="form-control" @bind-Value="WidgetDTO.ManufacturerId" @bind-Value:after="CheckManufacturerStatus">
        @foreach (var manufacturerDTO in ManufacturerDTOs)
        {
            <option value="@manufacturerDTO.ManufacturerId">@manufacturerDTO.Name</option>
        }
    </InputSelect>
    @if (ShowWidgetWillBeInactiveWarning)
    {
        <div class="alert alert-warning" role="alert">
            The selected Manufacturer is inactive. The Widget will be inactive.
        </div>
    }
</div>
<div class="form-group">
    <label for="ColourId">Colour</label>
    <InputSelect id="ColourId" class="form-control" @bind-Value="WidgetDTO.ColourId">
        @foreach (var colourDTO in ColourDTOs)
        {
            <option value="@colourDTO.ColourId">@colourDTO.Name</option>
        }
    </InputSelect>
</div>
<div class="form-group">
    <label for="ColourJustificationId">Colour Justification</label>
    <InputSelect id="ColourJustificationId" class="form-control" @bind-Value="WidgetDTO.ColourJustificationId">
        @foreach (var colourJustificationDTO in ColourJustificationDTOs)
        {
            <option value="@colourJustificationDTO.ColourJustificationId">@colourJustificationDTO.Justification</option>
        }
    </InputSelect>
</div>
<div class="form-group">
    <label for="StatusId">Status</label>
    <InputSelect id="StatusId" class="form-control" @bind-Value="WidgetDTO.StatusId">
        @foreach (var widgetStatusDTO in WidgetStatusDTOs)
        {
            <option value="@widgetStatusDTO.StatusId">@widgetStatusDTO.StatusName</option>
        }
    </InputSelect>
</div>
<div class="form-group">
    <label for="CostPrice">Cost Price</label>
    <input type="number" id="CostPrice" class="form-control" @bind-value="WidgetDTO.CostPrice" />
</div>
<div class="form-group">
    <label for="RetailPrice">Retail Price</label>
    <input type="number" id="RetailPrice" class="form-control" @bind-value="WidgetDTO.RetailPrice" />
</div>
<div class="form-group">
    <label for="StockLevel">Stock Level</label>
    <input type="number" id="StockLevel" class="form-control" @bind-value="WidgetDTO.StockLevel" />
</div>
<br />