@page "/manufacturer/create"
@inherits ManufacturerBasePageClass

<PageTitle>Create Manufacturer</PageTitle>

@if (ManufacturerExists)
{
    <ManufacturerExistsWarningComponent ManufacturerName="@ManufacturerDTO.Name" />
}

<EditForm Model="@ManufacturerDTO" OnValidSubmit="@CreateManufacturer">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <MudGrid>
        <MudItem sm="7">
            <MudCard>
                <CreateEditManufacturerComponent ManufacturerDTO="@ManufacturerDTO" ManufacturerStatusDTOs="@ManufacturerStatusDTOs" />
                <MudCardActions>
                    <button type="submit" class="btn btn-primary">Create</button>
                    &nbsp;
                    <a href="/manufacturers/index" class="btn btn-secondary">Cancel</a>
                </MudCardActions>
            </MudCard>
        </MudItem>
    </MudGrid>

</EditForm>