@page "/manufacturer/edit/{ManufacturerId:int}"
@inherits ManufacturerBasePageClass

<PageTitle>Edit Manufacturer</PageTitle>

@if (ManufacturerDTO == null)
{
    <MudAlert Severity="Severity.Info" ContentAlignment="HorizontalAlignment.Center">Loading Manufacturer...</MudAlert>
    return;
}

@if (ManufacturerExists)
{
    <ManufacturerExistsWarningComponent ManufacturerName="@ManufacturerDTO.Name" />
}

<EditForm Model="@ManufacturerDTO" OnValidSubmit="@UpdateManufacturer">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <MudGrid>
        <MudItem sm="7">
            <MudCard>
                <CreateEditManufacturerComponent ManufacturerDTO="@ManufacturerDTO" ManufacturerStatusDTOs="@ManufacturerStatusDTOs" />
                <MudCardActions>
                    <input type="submit" class="btn btn-primary" value="Update" />
                    &nbsp;
                    <a href="/manufacturers/index" class="btn btn-secondary">Cancel</a>
                </MudCardActions>
            </MudCard>
        </MudItem>
    </MudGrid>
</EditForm>