@page "/widget/create"
@inherits WidgetBasePageClass

<PageTitle>Create Widget</PageTitle>

@if (WidgetExists)
{
    <WidgetExistsWarningComponent WidgetName="@WidgetDTO.Name" />
}

<EditForm Model="@WidgetDTO" OnValidSubmit="CreateWidget">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <MudGrid>
        <MudItem sm="7">
            <MudCard>
                <CreateUpdateWidgetComponent
                    WidgetDTO="@WidgetDTO"
                    ManufacturerDTOs="@ManufacturerDTOs"
                    WidgetStatusDTOs="@WidgetStatusDTOs"
                    ColourDTOs="@ColourDTOs"
                    ColourJustificationDTOs="@ColourJustificationDTOs"/>
                <MudCardActions>
                    <input type="submit" class="btn btn-primary" value="Create" />
                    &nbsp;
                    <a href="/widgets/index" class="btn btn-secondary">Cancel</a>
                </MudCardActions>
            </MudCard>
        </MudItem>
    </MudGrid>
    
</EditForm>