@page "/widget/edit/{WidgetId:int}"
@inherits WidgetBasePageClass

<PageTitle>Edit Widget</PageTitle>

@if (WidgetDTO == null)
{
    <MudAlert Severity="Severity.Info" ContentAlignment="HorizontalAlignment.Center">Loading Colour Justification...</MudAlert>
    return;
}

<EditForm Model="@WidgetDTO" OnValidSubmit="UpdateWidget">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <MudGrid>
        <MudItem sm="7">
            <MudCard>
                <CreateUpdateWidgetComponent WidgetDTO="@WidgetDTO"
                                             ManufacturerDTOs="@ManufacturerDTOs"
                                             WidgetStatusDTOs="@WidgetStatusDTOs"
                                             ColourDTOs="@ColourDTOs"
                                             ColourJustificationDTOs="@ColourJustificationDTOs" />
                <MudCardActions>
                    <input type="submit" class="btn btn-primary" value="Update" />
                    &nbsp;
                    <a href="/widgets/index" class="btn btn-secondary">Cancel</a>
                </MudCardActions>
            </MudCard>
        </MudItem>
    </MudGrid>    
</EditForm>