@page "/widget/view/{WidgetId:int}"
@inherits WidgetBasePageClass

<PageTitle>View Widget</PageTitle>

<h3>View Widget</h3>

<br />

@if (WidgetDTO is null)
{
    <MudAlert Severity="Severity.Info" ContentAlignment="HorizontalAlignment.Center">Loading Widget...</MudAlert>
    return;
}

<MudGrid>
    <MudItem sm="7">
        <MudCard>
            <MudCardContent>
                <MudField Label="Widget">@WidgetDTO.Name</MudField>
                <MudField Label="Manufacturer"><a href="/manufacturer/view/@WidgetDTO.ManufacturerId">@WidgetDTO.ManufacturerName</a></MudField>
                <MudField Label="Colour">@WidgetDTO.ColourName</MudField>
                <MudField Label="Colour Justification">@WidgetDTO.ColourJustificationText</MudField>
                <MudField Label="Status">@WidgetDTO.StatusName</MudField>
                <MudField Label="Cost Price">@WidgetDTO.CostPrice</MudField>
                <MudField Label="Retail Price">@WidgetDTO.RetailPrice</MudField>
                <MudField Label="Stock Level">@WidgetDTO.StockLevel</MudField>
            </MudCardContent>
            <MudCardActions>
                <a href="/widget/edit/@WidgetDTO.WidgetId" class="btn btn-primary">Edit</a>
                &nbsp;
                <a href="/widgets/index" class="btn btn-secondary">Back to List</a>
            </MudCardActions>
        </MudCard>
    </MudItem>
</MudGrid>